<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.WordMapper">

    <resultMap id="wordBookMap" type="WordBookVo">
        <id property="wordBookId" column="word_book_id"/>
        <result property="name" column="name"/>
        <result property="totalCount" column="total_count"/>
        <collection property="words" ofType="WordVo">
            <result property="wordId" column="word_id"/>
            <result property="word" column="word"/>
            <result property="mean" column="mean"/>
        </collection>
    </resultMap>

    <select id="findByUserAndWordBook" resultMap="wordBookMap">
        SELECT wb.word_book_id, wb.name, wb.total_count, w.word_id, w.word, w.mean
        FROM numodb.word_book wb
        left join numodb.word w on wb.word_book_id = w.word_book_id
        WHERE wb.user_id = #{userId}
          AND wb.word_book_id = #{wordBookId}
    </select>

</mapper>